{
    "docs_url": "/docs",
    "save_file_swagger": "swagger.json",
    "data_structures_folder": "data_structures_io",
    "tests_folder": "tests",
    "tests_before_cmd": "",
    "tests_between_cmd": "",
    "swagger": {
        "openapi": "3.0.3",
        "info": {
            "version": "1.0.0",
            "title": "AiqDocTests - TESTS",
            "description": "The Documentation using the aiqDocTest",
            "contact": {
                "name": "aiqdoctests",
                "email": "dev@aiqfome.com"
            },
            "license": {
                "name": "MIT",
                "url": "https://opensource.org/licenses/MIT"
            }
        },
        "host": "test.aiq.com",
        "schemes": [
            "http"
        ]
    }
}