{
    "docs_url": "/docs",
    "save_file_swagger": "swagger.json",
    "data_structures_folder": "data_structures_io",
    "tests_folder": "tests",
    "tests_before_cmd": "sequelize db:migrate:undo:all  && sequelize db:migrate  && sequelize db:seed:all",
    "tests_between_cmd": "sequelize db:seed:undo:all  && sequelize db:seed:all",
    "swagger": {
        "openapi": "3.0.3",
        "info": {
            "version": "1.0.0",
            "title": "AiqEntrega - CORE",
            "description": "The Documentation using the aiqDocTest",
            "contact": {
                "name": "aiqentrega",
                "email": "dev@aiqfome.com"
            },
            "license": {
                "name": "MIT",
                "url": "https://opensource.org/licenses/MIT"
            }
        },
        "host": "entrega.aiq.com",
        "tags": [
            {
                "name": "config",
                "description": "Everything about your configs"
            },
            {
                "name": "driver",
                "description": "Information about driver"
            },
            {
                "name": "ride",
                "description": "All about ride"
            }
        ],
        "schemes": [
            "http"
        ]
    }
}